/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-default {
    position: relative;
}
.theme-default .nivoSlider {
    background: url("loading.gif") no-repeat scroll 50% 50% #111;
    /*border-radius: 5px;*/
    overflow: hidden;
    position: relative;
/*    box-shadow: 0 0 3px #000000;
    -webkit-box-shadow: 0px 1px 3px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 3px 0px #4a4a4a;
    box-shadow: 0px 1px 3px 0px #4a4a4a;*/
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
        /*height: 360px;*/
        width: 100%;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
    bottom: 0;
    display: block;
    left: -15px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    /*text-align: right;*/
    width: 100%;
    z-index: 9;
}
.theme-default .nivo-controlNav a {
    background-color: #fff;
    border-radius: 100%;
    color: #fff;
    cursor: pointer;
    font-size: 0;
    height: 7px;
    margin-left: 10px;
    padding: 5px;
    text-decoration: none;
    width: 7px;
}
.theme-default .nivo-controlNav a.active , .theme-default .nivo-controlNav a:hover {
    background-position:0 -20px;
}
.theme-default .nivo-controlNav a.active {
    background-color: #c71c22;
}

.theme-default .nivo-directionNav {
    /*display: none;*/
}

.theme-default .nivo-directionNav a {
    display:block;
    width:33px;
    height:41px;
    background:url(slider-nav.png) no-repeat;
    text-indent:-9999px;
    border:0;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
/*	background-position:-30px 0;
	right:15px;*/
        background-position: -33px 0;
        /*border-radius: 5px 0 0 5px;*/
}
.theme-default a.nivo-nextNav:hover {
        /*background-position: -40px 0;*/
}
.theme-default a.nivo-prevNav {
	/*left:15px;*/
        background-position: 0 0;
        /*border-radius: 0 5px 5px 0;*/
}
.theme-default a.nivo-prevNav:hover {
	/*left:15px;*/
        /*background-position: 0 0;*/
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}