/* SmartMenus Core CSS (it's not recommended editing this)
===============================================================*/

.smf,.smf ul,.smf li{display:block;list-style:none;padding:0;margin:0;line-height:normal;direction:ltr;}
ul.smf ul{position:absolute;top:-999999px;width:100px;}
ul.smf li{position:relative;float:left;}
ul.smf a{position:relative;display:block;white-space:nowrap;}
ul.smf a.disabled{cursor:default;}
.sm-rtl,.sm-rtl ul,.sm-rtl li{direction:rtl;}
ul.sm-rtl li{float:right;}
ul.smf ul li,ul.smf-vertical li{float:none;}
ul.smf ul a,ul.smf a{white-space:normal;}
ul.smf ul.sm-nowrap>li>a{white-space:nowrap;}
ul.smf:after{content:"\00a0";display:block;height:0;font:0/0 serif;clear:both;visibility:hidden;overflow:hidden;}
ul.smf,ul.smf *,ul.smf *:before,ul.smf *:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
ul.smf{-webkit-tap-highlight-color:rgba(0,0,0,0);}