/*------------------------------------------------------------------
[Table of contents]

1. Group button on top menu
2. Latest deals products
3. Products list
4. Header
5. Category featured
6. Banner bottom
7. Blogs
8. Services
9. Footer
10. Owl carousel vertical
11. Styles for devices(>1200px)
12. Styles for devices(>=992px and <=1199px)
13. Styles for devices(>=768px and <=992px)
14. Styles for devices(>=481px and <=767px)
15. Styles for devices(<=480px)

-------------------------------------------------------------------*/
.option6 span.notify-right{
	background: url('../../images/notify-right-6.png') no-repeat;
}
.option6 #main-menu .navbar .navbar-nav>li>a span.notify-right{
	top: -20px;
	left: 40%;
	text-transform: uppercase;
}
/*-------------------
[2. Latest deals products]
*/
.latest-deals-product{
  margin-top: 20px;
  position: relative;
}
.latest-deals-product .count-down-time2{
  position: absolute;
  top: -61px;
  right: 80px;
}
.latest-deals-product .product-list li{
  border: 1px solid #eaeaea;
  overflow: hidden;
  padding-bottom: 5px;
}
.latest-deals-product .product-list li:hover{
  border: 1px solid #F3B70B;
}
.latest-deals-product .owl-next{
  top: -40px;
}
.latest-deals-product .owl-prev{
  top: -40px;
  left: inherit;
  right: 26px;
}

.count-down-time2{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  line-height: 40px;
}
.count-down-time2 .icon-clock{
  width: 23px;
  height: 26px;
  background: url("../../images/icon-clock.png") no-repeat center center;
  display: inline-block;
  margin-top: 5px;
}
.count-down-time2 .box-count{
  text-transform: none;
  color: #F3B70B;
  border: 1px solid #F3B70B;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  padding: 0 10px;
  margin-top: 4px;
  margin-right: 4px;
  margin-left: 4px;
}


/*
[3. Products list]
*/
.price-new-old{
    float: left;
    width: 105px;
}
.field-sale{
    float: left;
    padding-left: 15px;
    border-left: 1px solid #e7e7e7;
    height: 39px;
}
.option6 .product-list li .quick-view{
	right: 10px;
}
.option6 .product-list li .quick-view a:hover{
	background: #F3B70B;
}
.option6 .product-list li .quick-view a:hover{
	background: #F3B70B;
}
.option6 .product-list li .quick-view a:hover {
	background: #F3B70B;
}
.option6 .product-list li .add-to-cart:hover{
	background: #F3B70B;
}
.option6 .product-list li .product-price {
	color: #f96d10;
}


/*
[4. Header ]
*/
.option6 .header{
	background: #F9F8D4;
}
.option6 .nav-top-menu{
	background: transparent;
}
.option6 .top-header img {
	margin-top: -5px;
}
.option6 .top-header a.current-open:after{
	font-size: 13px;
}
.option6 .top-header{
	background: #F1D585;
	font-size: 13px;
	color: #fff;
}
.option6 .top-header a{
	color: #fff;
}
.option6 .top-header a:hover{
	color: #ccc;
}
.option6 .cart-block{
	margin-top: 5px;
}
.option6 .cart-block .cart-block-content .product-info .p-right .p-rice{
	  color:#f96d10;
}
.option6 #shopping-cart-box-ontop .cart-block{
	margin-top: 0;
}
.option6 a:hover{
	color: #F3B70B;
}
.option6 .top-header .dropdown-menu{
	border-top: 2px solid #F3B70B;
}
.option6 .top-header .dropdown-menu a{
	color: #333;
}
.option6 .main-header .header-search-box{
	padding: 0 15px;
	padding-left: 40px;
}
.option6 .main-header .header-search-box .form-inline .form-category{
	float: right;
	margin-right: 40px;
	border-left: 1px solid #008a90;
	height: 41px;
	background: #FDC116;
	color: #fff;
}
.option6 .main-header .header-search-box .form-inline .btn-search{
	top: 0;
	right: 0;
}
.option6 .main-header .header-search-box .form-inline .input-serach{
	padding-top: 9px;
}.option6 .header-search-box form .input-serach input{
	color: #fff;
}
.option6 .header-search-box form .input-serach input::-webkit-input-placeholder { color:#fff; }
.option6 .header-search-box form .input-serach input::-webkit-input-placeholder { color:#fff;  }
.option6 .header-search-box form .input-serach input::-webkit-input-placeholder { color:#fff; }

.option6 .main-header .header-search-box .form-inline .btn-search{
	color: #fff;
	font-size: 16px;
	background-color: #F3B70B;
}
.option6 .select2-container--default .select2-selection--single .select2-selection__rendered{
	color: #fff;
}
.option6 .select2-container--default .select2-selection--single .select2-selection__arrow b{
	border-color: #fff transparent transparent transparent;
}
.option6 .main-header .header-search-box .form-inline{
	border: none;
	background: #FDC116;
	color: #fff;
	display: inline-block;
	min-width: 470px;
}
.option6 .main-header .header-search-box .keyword{
	display: inline-block;
	color: #F3B70B;
	font-size: 13px;
	line-height: 21px;
	float: right;
}
.option6 .main-header .header-search-box .keyword a{
	color: #F3B70B;
}
.option6 .main-header .header-search-box .keyword .lebal{
	text-decoration: underline;
	font-weight: bold;
}
.option6 .main-header .header-search-box .keyword .lebal:before{
	content: '';
	width: 5px;
	height: 5px;
	background: #F3B70B;
	float: left;
	margin-right: 10px;
	margin-top: 9px;
}
.option6 .main-header .header-search-box .form-inline .btn-search .fa{
	line-height: inherit;
}
.option6 .group-button-header .btn-cart{
	background: url("../../images/icon-cart-round5.png") no-repeat center center;
}
.option6 .group-button-header .btn-heart{
	  background: url("../../images/icon-heart-round5.png") no-repeat center center;
}
.option6 .group-button-header .btn-compare{
	background: url("../../images/icon-compare-round5.png") no-repeat center center;
}

.option6 .nav-top-menu.nav-ontop{
	background: #F3B70B;
	height: 51px;
}
.option6 .nav-top-menu.nav-ontop .navbar-right{
	display: none;
}
.option6 #form-search-opntop .btn-search .fa{
	display: none;
}
.option6 #box-vertical-megamenus{
	width: 85px;
	padding: 0;
}

.option6 #main-menu .navbar{
	border-radius: 0;
	background: #F3B70B;
}
.option6 #main-menu .navbar-default .navbar-nav>li>a{
	color: #fff;
	border-right: none;
}
.option6 #main-menu .navbar-default .navbar-nav>li:last-child>a{
	background: none;
}
.option6 #main-menu .navbar .navbar-nav>li:hover, 
.option6 #main-menu .navbar .navbar-nav>li.active{
	background-image: none;
	background: #FDC116;
}
.option6 #main-menu .navbar .navbar-nav>li:hover a, 
.option6 #main-menu .navbar .navbar-nav>li.active a{
	background: none;
}
.option6 #main-menu li.dropdown>a:after{
	position: absolute;
	left: 46%;
	-ms-transform: translateX(-50%);
  	-webkit-transform: translateX(-50%);
  	transform: translateX(-50%);
	top: 15px;
	font-size: 12px;
}
.option6 #main-menu li.dropdown:hover:before{
	display: none;
}

.option6 .box-vertical-megamenus .title{
	background: #000;
}
.option6 .box-vertical-megamenus .vertical-menu-content{
	border-top: none;
	min-width: 270px;
	border-right: 1px solid #eaeaea;
}
.option6 #main-menu{
	width: 100%;
	padding: 0 15px;
	margin: 0;
	padding-left: 70px;
}
.option6 .box-vertical-megamenus{
	top: 1px;
}
.option6 .nav-ontop #box-vertical-megamenus .title{
	background: #000;
	color: #fff;
	border-left: none;
	text-align: center;
	height: 51px;

}
.option6 .nav-ontop #box-vertical-megamenus .title .btn-open-mobile{
	margin: 0;
}
.option6 .nav-ontop #box-vertical-megamenus .box-vertical-megamenus{
	top: 0;
}
.option6 #form-search-opntop .btn-search:before{
	color: #fff;
}
.option6 #form-search-opntop form .input-serach input{
	color: #fff;
}
.option6 #form-search-opntop form .input-serach input::-webkit-input-placeholder { color:#fff; }
.option6 #form-search-opntop form .input-serach input::-webkit-input-placeholder { color:#fff;  }
.option6 #form-search-opntop form .input-serach input::-webkit-input-placeholder { color:#fff; }

.option6 #form-search-opntop:hover form{
  border: 1px solid #dfdfdf;
  background: #F3B70B;
}
.option6 #user-info-opntop a.current-open:before {
  color: #fff;
}
.option6 #shopping-cart-box-ontop .fa{
	color: #fff;
}
.option6 .header-top-right{
	border-top: none;
	margin: 0;
	padding: 0 15px;
}
.option6 .header-top-right .homeslider {
	width: 63.5%;
}
.option6 .group-banner-slider .item{
	margin-bottom: 2px;
}
.option6 .group-banner-slide .col-left{
	width: 196px;
	float: left;
}
.option6 .group-banner-slide .col-right{
	width: 228px;
	float: left;
}
.option6 .group-banner-slide .item{
	margin-left: 1px;
	float: left;
	margin-bottom: 2px;
}
.option6 .group-banner-slide .item:last-child{
	margin-bottom: 0;
}
.option6  .policy{
	background: #e1e9ee;
}
.option6 .policy .title{
	height: 34px;
	background: #cfd5da;
	border-left: 5px solid #008a90;
	line-height: 34px;
	font-size: 16px;
	font-weight: bold;
	color: #006379;
	text-transform: uppercase;
	padding-left: 8px;
}
.option6 .policy ul{
	line-height: 24px;
	padding-left: 13px;
	padding-top: 10px;
	padding-bottom: 11px;
}
.option6 .link-buytheme .fa{
	line-height: inherit;
}
.option6 .group-banner-slide .col-right .item:last-child{
	margin-top: 1px;
}
.option6 .policy ul li{
	margin-bottom: 10px;
}
.option6 .policy a img{
	margin-right: 5px;
}
.option6 .policy a .icon2{
	display: none;
}
.option6 .policy a:hover .icon2{
	display: inline-block;
}
.option6 .policy a:hover .icon1{
	display: none;
}

.option6 .policy ul li:last-child{
	margin-bottom: 0;
}

.option6 .header-top-right .homeslider .bx-controls-direction .bx-prev, 
.option6 .header-top-right .homeslider .bx-controls-direction .bx-next{
	background: #F3B70B;
}
.option6 .header-top-right .homeslider .bx-wrapper .bx-pager .bx-pager-item a{
	border-radius: 0;
	width: 24px;
	height: 24px;
	background-color: rgba(190,190,190, 0.7);
	color: #000;
	line-height: 24px;
	border: none;
	margin-right: 10px;
	display: block;
}
.header-top-right .homeslider .bx-wrapper .bx-pager .bx-pager-item{
	width: 34px;
	height: 24px;
	margin-right: 0;
}
.option6 .header-top-right .homeslider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.option6 .header-top-right .homeslider .bx-wrapper .bx-pager.bx-default-pager a.active{
	background-color: rgba(0,0,0, 0.7);
	color: #fff;
}



.option6 .box-vertical-megamenus .vertical-menu-list {
	padding-top: 4px;
}
.option6 .box-vertical-megamenus .vertical-menu-list li{
	border: none;
	padding: 0 20px;
}
.option6 .box-vertical-megamenus .vertical-menu-list>li:hover{
	background: #F3B70B;
}
.option6 .box-vertical-megamenus .vertical-menu-list>li:hover>a{
	color: #fff;
	border-color: transparent;
}
.option6 .box-vertical-megamenus .vertical-menu-list>li:hover>a:before{
	color: #fff;
}
.option6 .box-vertical-megamenus .vertical-menu-list:li:last-child>a{
	border:none;
}
.option6 .box-vertical-megamenus .vertical-menu-list>li>a{
	border:none;
	padding-left: 0;
	border-bottom: 1px dotted #eaeaea;
	line-height: 36px;
}
.option6 .box-vertical-megamenus .vertical-menu-list li:hover{
	border-left: none;
}
.option6 .box-vertical-megamenus .vertical-menu-list li:hover>a{
	border-top: none;
}
.option6 .box-vertical-megamenus .all-category{
	margin-top: 0px;
	padding-right: 0;
}
.option6 .vertical-dropdown-menu .mega-group-header span{
	border-color: #F3B70B;
}
.option6 .box-vertical-megamenus .all-category span:hover{
	background: #F3B70B;
	color: #fff;
	border-color: #F3B70B;
}
.option6 .box-vertical-megamenus .all-category span:after{
	  content: "\f101";
	  font-size: 16px;
	  font-weight: normal;
}
.option6 .box-vertical-megamenus .vertical-menu-content ul>li>a.parent:before{
	right: 20px;
}
.option6 .vertical-dropdown-menu .mega-products .mega-product .product-price .new-price{
	  color: #f96d10;
}
.option6 .cart-block .cart-block-content .cart-buttons a.btn-check-out{
	background: #F3B70B;
}

.option6 .page-heading{
	font-size: 16px;
	font-weight: bold;
}
.option6 .page-heading span.page-heading-title{
	border-bottom: 3px solid #F3B70B;
}

.option6 .owl-controls .owl-prev:hover, 
.option6 .owl-controls .owl-next:hover {
  background: #F3B70B;
  color: #fff;
}

.option6 .content-page {
	background: #eaeaea;
}
.option6 #main-menu .dropdown-menu .block-container .group_header>a{
	border-color: #F3B70B;
}

/*
[5. Category featured]
*/

.option6 .show-brand .navbar-brand{
	width: 200px;
	position: relative;
	padding-left: 10px;
	font-family: 'Arial Narrow', Arial, sans-serif;
	font-size: 22px;
	font-weight: normal;
}
.option6 .show-brand .navbar-brand img{
	margin-right: 10px;
}
.option6 .show-brand .navbar-brand>a:hover{
	color: #fff;

}
.option6 .show-brand .navbar-brand:after{
	content: '';
	width: 12px;
	height: 20px;
	position: absolute;
	right: 5px;
	color: #fff;
	font-weight: normal;
	background: url("../../images/icon-angle-right.png") no-repeat right center;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.option6 .nav-menu{
	margin-bottom: 0;
}
.option6 .nav-menu .nav>li>a{
	background: none;
	padding: 14px 15px;
	margin-left: 10px;
}
.option6 .nav-menu .nav>li>a:after{
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f0d8";
	position: absolute;
	bottom: -40px;
	left: 50%;
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	color: #fff;
	-webkit-transition: all 0.3s ease-out 0s;
	  -moz-transition: all 0.3s ease-out 0s;
	  -o-transition: all 0.3s ease-out 0s;
	  transition: all 0.3s ease-out 0s;
	  opacity: 0;
	  visibility: hidden;
}
.option6 .nav-menu .nav>li>a:before{
	content: '';
	width: 100%;
	height: 1px;
	background: #fa8334;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	transform: scale(0, 1);
}
.option6 .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #fa8334;
}
.option6 .nav-menu .nav>li:hover a,
.option6 .nav-menu .nav>li.active a{
}

.option6 .nav-menu .nav>li:hover a:before,
.option6 .nav-menu .nav>li.active a:before{
	transform: scale(1);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.option6 .nav-menu .nav>li:hover a:after,
.option6 .nav-menu .nav>li.active a:after{
	color: #fa8334;
	bottom: -6px;
	opacity: 1;
	visibility: inherit;
}

.option6 .product-featured{
	margin-top: 0;
	background: #fff;
}
.option6 .product-featured .sub-category-list{
	float: left;
	padding: 20px 10px 20px 30px;
	line-height: 30px;
}
.option6 .product-featured .product-featured-tab-content{
}
.option6 .product-featured .product-featured-tab-content .box-left{
	width: 40%;
	float: left;
	border-left: 1px solid #eaeaea;
}
.option6 .product-featured .product-featured-tab-content .box-right{
	width: 60%;
	float: left;
}
.option6 .product-featured .product-featured-tab-content .box-full{
	width: 100%;
	float: left;
	border-left: 1px solid #eaeaea;
} 
.option6 .product-featured .product-featured-tab-content .box-full .product-list li{
	width: 20%;
	float: left;
	border-bottom: none;
}
.option6 .product-featured .product-featured-tab-content .category-banner{
	padding-right: 0;
}
.option6 .product-featured .product-featured-tab-content .category-banner img{
	
}
.option6 .product-featured .product-featured-tab-content .category-list-product{
	padding-left: 0;
}
.option6 .product-featured .product-list{
	margin-left: 0;
	margin-right: 0;

}
.option6 .product-featured .product-list li{
	padding: 0;
	min-height: inherit;
	border-right: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
	padding-bottom: 3px;
	min-height: 286px;
}

.option6 .product-featured .owl-prev, 
.option6 .product-featured .owl-next {
  background: transparent;
  width: 28px;
  height: 28px;
  color: #ccc;
  text-align: center;
  padding-top: 0;
  font-size: 48px;
}
.option6 .product-featured .owl-next{
	background: url("../../images/next.png") no-repeat center center;
}
.option6 .product-featured .owl-prev{
	background: url("../../images/prev.png") no-repeat center center;
}
.option6 .product-featured .owl-prev .fa, 
.option6 .product-featured .owl-next .fa{
	font-weight: normal;
	line-height: 28px;
	display: none;
}
.option6 .product-featured .owl-prev:hover{
	background: url("../../images/prev.png") no-repeat center center;
}

.option6 .product-featured .owl-next:hover{
	background: url("../../images/next.png") no-repeat center center;
}

.option6 .product-featured .deal-product{
	line-height: 24px;
	border-right: 1px solid #eaeaea;
	overflow: hidden;
	padding-bottom: 23px;
}
.option6 .product-featured .deal-product .deal-product-head{
	text-align: center;
}
.option6 .product-featured .deal-product .deal-product-head h3{
	position: relative;
    z-index: 1;
    margin-top: 15px;
}
.option6 .product-featured .deal-product .deal-product-head h3:before{
	border-top: 1px solid #eaeaea;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 40%; left: 40px; right: 40px; bottom: 0;
    width: 95%;
    z-index: -1;
    width: 300px;/*
    -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);*/
}
.option6 .product-featured .deal-product .deal-product-head h3>span{
	background: #fff; 
    padding: 0 5px; 
    font-size: 14px;
    font-weight: bold;
}
.option6 .product-featured .deal-product .deal-product-content .deal-product-info{
	padding-left: 0;
}
.option6 .product-featured .deal-product .deal-product-content{
	margin-top: 10px;
}
.option6 .product-featured .deal-product .price{
	margin-top: 4px;
}
.option6 .product-featured .deal-product .price span{
	margin-right: 10px;
}
.option6 .product-featured .deal-product .price .product-price{
	color: #F3B70B;
	font-size: 18px;
}
.option6 .product-featured .deal-product .price .old-price{
	text-decoration: line-through;
}
.option6 .product-featured .deal-product .price .sale-price{
	background: url("../../images/sale-bg.png") no-repeat;
	color: #fff;
	padding: 0 7px;
}
.option6 .product-featured .deal-product .product-star{
	color: #febf2b;
	margin-top: 15px;
}
.option6 .product-featured .deal-product .product-desc{
	margin-top: -3px;
}
.option6 .product-featured .deal-product .show-count-down{
	overflow: hidden;
	margin-top: 11px;
	font-family: 'Arial Narrow', Arial, sans-serif;
	line-height: normal;
}
.option6 .product-featured .deal-product .show-count-down .dot{
	display: none;
}
.option6 .product-featured .deal-product .show-count-down .box-count{
	font-size: 20px;
	color: #717171;
	background: #f6f6f6;
	text-align: center;
	width: 45px;
	height: 47px;
	display: table-cell;
	float: left;
	margin-right: 5px;
}
.option6 .product-featured .deal-product .show-count-down .box-count .number{
	width: 45px;
	font-size: 18px;
	display: table;
	margin-top: 4px;
}
.option6 .product-featured .deal-product .show-count-down .box-count .text{
	width: 45px;
	font-size: 14px;
	display: table;
}
.option6 .product-featured .manufacture-list{
	padding-right: 0;
	float: left;
	overflow: hidden;
}
.option6 .product-featured .manufacture-list .manufacture-waper{
	border: 1px solid #eaeaea;
	padding: 44px 0px 44px 0;
	border-top: none;
	position: relative;
	border-bottom: none;
}
.option6 .product-featured .manufacture-list .manufacture-waper ul{
	padding: 0 20px;
	background: #fff;
}

.option6 .product-featured .manufacture-list .manufacture-waper .owl-prev{
	position: absolute;
	top: -16px;
	left: 0;
	right: 0;
	border-bottom: 1px solid #eaeaea;
}
.option6 .product-featured .manufacture-list .manufacture-waper .owl-next{
	position: absolute;
	bottom: -64px;
	top: inherit;
	left: 0;
	right: 0;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	padding-top: 12px;
	height: 42px;
}
.option6 .product-featured .manufacture-list .manufacture-waper .owl-controls .owl-nav{
	margin: 0;
	padding: 0;
}
.option6 .product-list li .add-to-cart:hover{
	opacity: 1;
}
.option6 .product-list li .add-to-cart a {
	  background: url("../../images/icon-cart-option2.png") no-repeat left center;
}
.option6 .product-list li .quick-view a.compare:before{
	  content: "\f066";
}

/** OPTION CATEGORY **/

.option6 .category-featured.fashion .sub-category-list a:hover{
	color: #ff3366;
}

.option6 .category-featured.fashion .navbar-brand{
	background: #ff3366;
}
.option6 .category-featured.fashion .navbar-brand a:hover{
	color: #fff;
}
.option6 .category-featured.fashion .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #ff3366;
}
.option6 .category-featured.fashion .nav-menu .nav>li:hover a,
.option6 .category-featured.fashion .nav-menu .nav>li.active a{
	color: #ff3366;
}

.option6 .category-featured.fashion .nav-menu .nav>li:hover a:after,
.option6 .category-featured.fashion .nav-menu .nav>li.active a:after{
	color: #ff3366;
}

.option6 .category-featured.fashion .nav-menu .nav>li>a:before{
	background: #ff3366;
}

.option6 .category-featured.fashion .product-list li .add-to-cart {
	background-color: rgba(255, 51, 102, 0.7);
	background: rgba(255, 51, 102, 0.7);
	color: rgba(255, 51, 102, 0.7);
}
.option6 .category-featured.fashion .product-list li .add-to-cart:hover {
	background: #ff3366;
}

.option6 .category-featured.fashion .product-list li .quick-view a.search:hover,
.option6 .category-featured.fashion .product-list li .quick-view a.compare:hover,
.option6 .category-featured.fashion .product-list li .quick-view a.heart:hover{
	background-color: #ff3366;
	opacity: 0.9;
}
.option6 .category-featured.fashion .event-info{
    background-color: rgba(255, 51, 102, 0.7);
}
/** sports **/
.option6 .category-featured.sports .sub-category-list a:hover{
	color: #00a360;
}
.option6 .category-featured.sports .navbar-brand{
	background: #00a360;
}
.option6 .category-featured.sports .navbar-brand a:hover{
	color: #fff;
}
.option6 .category-featured.sports .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #00a360;
}
.option6 .category-featured.sports .nav-menu .nav>li:hover a,
.option6 .category-featured.sports .nav-menu .nav>li.active a{
	color: #00a360;
}
.option6 .category-featured.sports .nav-menu .nav>li:hover a:after,
.option6 .category-featured.sports .nav-menu .nav>li.active a:after{
	color: #00a360;
}

.option6 .category-featured.sports .nav-menu .nav>li>a:before{
	background: #00a360;
}

.option6 .category-featured.sports .product-list li .add-to-cart {
	background-color: rgba(0, 163, 96, 0.7);
	background: rgba(0, 163, 96, 0.7);
	color: rgba(0, 163, 96, 0.7);
}
.option6 .category-featured.sports .product-list li .add-to-cart:hover {
	background: #00a360;
}
.option6 .category-featured.sports .product-list li .quick-view a.search:hover,
.option6 .category-featured.sports .product-list li .quick-view a.compare:hover,
.option6 .category-featured.sports .product-list li .quick-view a.heart:hover{
	background-color: #00a360;
	opacity: 0.9;
}
.option6 .category-featured.sports .event-info{
    background-color: rgba(0, 163, 96, 0.7);
}
/** electronic **/

.option6 .category-featured.electronic .product-featured{
	background: #fff url('../../images/cat-br1.png') no-repeat left bottom;
}
.option6 .category-featured.electronic .sub-category-list a:hover{
	color: #0090c9;
}
.option6 .category-featured.electronic .navbar-brand{
	background: #0090c9;
}
.option6 .category-featured.electronic .navbar-brand a:hover{
	color: #fff;
}
.option6 .category-featured.electronic .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #0090c9;
}
.option6 .category-featured.electronic .nav-menu .nav>li:hover a,
.option6 .category-featured.electronic .nav-menu .nav>li.active a{
	color: #0090c9;
}
.option6 .category-featured.electronic .nav-menu .nav>li>a:before{
	background: #0090c9;
}
.option6 .category-featured.electronic .nav-menu .nav>li:hover a:after,
.option6 .category-featured.electronic .nav-menu .nav>li.active a:after{
	color: #0090c9;
}

.option6 .category-featured.electronic .product-list li .add-to-cart {
	background-color: rgba(0, 144, 201, 0.7);
	background: rgba(0, 144, 201, 0.7);
	color: rgba(0, 144, 201, 0.7);
}
.option6 .category-featured.electronic .product-list li .add-to-cart:hover {
	background-color: #0090c9;
}
.option6 .category-featured.electronic .product-list li .quick-view a.search:hover,
.option6 .category-featured.electronic .product-list li .quick-view a.compare:hover,
.option6 .category-featured.electronic .product-list li .quick-view a.heart:hover{
	background-color: #0090c9;
	opacity: 0.9;
}
.option6 .category-featured.electronic .event-info{
    background-color: rgba(0, 144, 201, 0.7);
}
/** digital **/
.option6 .category-featured.digital .product-featured{
	background: #fff url('../../images/cat-br2.png') no-repeat left bottom;
}
.option6 .category-featured.digital .sub-category-list a:hover{
	color: #3f5eca;
}
.option6 .category-featured.digital .navbar-brand{
	background: #3f5eca;
}
.option6 .category-featured.digital .navbar-brand a:hover{
	color: #fff;
}
.option6 .category-featured.digital .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #3f5eca;
}
.option6 .category-featured.digital .nav-menu .nav>li:hover a,
.option6 .category-featured.digital .nav-menu .nav>li.active a{
	color: #3f5eca;
}
.option6 .category-featured.digital .nav-menu .nav>li>a:before{
	background: #3f5eca;
}
.option6 .category-featured.digital .nav-menu .nav>li:hover a:after,
.option6 .category-featured.digital .nav-menu .nav>li.active a:after{
	color: #3f5eca;
}
.option6 .category-featured.digital .product-list li .add-to-cart {
	background-color: rgba(63, 94, 202, 0.7);
	background: rgba(63, 94, 202, 0.7);
	color: rgba(63, 94, 202, 0.7);
}
.option6 .category-featured.digital .product-list li .add-to-cart:hover {
	background-color: #3f5eca;
}
.option6 .category-featured.digital .product-list li .quick-view a.search:hover,
.option6 .category-featured.digital .product-list li .quick-view a.compare:hover,
.option6 .category-featured.digital .product-list li .quick-view a.heart:hover{
	background-color: #3f5eca;
	opacity: 0.9;
}
.option6 .category-featured.digital .event-info{
    background-color: rgba(63, 94, 202, 0.7);
}
/** furniture **/
.option6 .category-featured.furniture .product-featured{
	background: #fff url('../../images/cat-br3.png') no-repeat left bottom;
}
.option6 .category-featured.furniture .sub-category-list a:hover{
	color: #669900;
}
.option6 .category-featured.furniture .navbar-brand{
	background: #669900;
}
.option6 .category-featured.furniture .navbar-brand a:hover{
	color: #fff;
}
.option6 .category-featured.furniture .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #669900;
}
.option6 .category-featured.furniture .nav-menu .nav>li:hover a,
.option6 .category-featured.furniture .nav-menu .nav>li.active a{
	color: #669900;
}
.option6 .category-featured.furniture .nav-menu .nav>li>a:before{
	background: #669900;
}
.option6 .category-featured.furniture .nav-menu .nav>li:hover a:after,
.option6 .category-featured.furniture .nav-menu .nav>li.active a:after{
	color: #669900;
}

.option6 .category-featured.furniture .product-list li .add-to-cart {
	background-color: rgba(102, 153, 0, 0.7);
	background: rgba(102, 153, 0, 0.7);
	color: rgba(102, 153, 0, 0.7);
}
.option6 .category-featured.furniture .product-list li .add-to-cart:hover {
	background-color: #669900;
}

.option6 .category-featured.furniture .product-list li .quick-view a.search:hover,
.option6 .category-featured.furniture .product-list li .quick-view a.compare:hover,
.option6 .category-featured.furniture .product-list li .quick-view a.heart:hover{
	background-color: #669900;
	opacity: 0.9;
}
.option6 .category-featured.furniture .event-info{
    background-color: rgba(102, 153, 0, 0.7);
}
/** jewelry **/
.option6 .category-featured.jewelry .sub-category-list a:hover{
	color: #6d6855;
}
.option6 .category-featured.jewelry .navbar-brand{
	background: #6d6855;
}
.option6 .category-featured.jewelry .navbar-brand a:hover{
	color: #fff;
}
.option6 .category-featured.jewelry .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #6d6855;
}
.option6 .category-featured.jewelry .nav-menu .nav>li:hover a,
.option6 .category-featured.jewelry .nav-menu .nav>li.active a{
	color: #6d6855;
}
.option6 .category-featured.jewelry .nav-menu .nav>li>a:before{
	background: #6d6855;
}
.option6 .category-featured.jewelry .nav-menu .nav>li:hover a:after,
.option6 .category-featured.jewelry .nav-menu .nav>li.active a:after{
	color: #6d6855;
}
.option6 .category-featured.jewelry .product-list li .add-to-cart {
	background-color: #6d6855;
}
.option6 .category-featured.jewelry .product-list li .add-to-cart {
	background-color: rgba(109, 104,85, 0.7);
	background: rgba(109, 104,85, 0.7);
	color: rgba(109, 104,85, 0.7);
}
.option6 .category-featured.jewelry .product-list li .add-to-cart:hover {
	background-color: #6d6855;
}

.option6 .category-featured.jewelry .product-list li .quick-view a.search:hover,
.option6 .category-featured.jewelry .product-list li .quick-view a.compare:hover,
.option6 .category-featured.jewelry .product-list li .quick-view a.heart:hover{
	background-color: #6d6855;
	opacity: 0.9;
}
.option6 .category-featured.jewelry .event-info{
    background-color: rgba(109, 104,85, 0.7);
}
.option6 .band-logo{
	margin-top: 30px;
	overflow: hidden;
}
.option6 .band-logo a{
	float: left;
	background: #eee;
	border: 1px solid #eee;
	overflow: hidden;
	height: 66px;
}
.option6 .band-logo a:hover{
	background: transparent;
}

/*-----------------
[6. Banner bootom]
*/
.option6 .banner-bottom .item-left{
	padding-right: 0;
}
.option6 .banner-bottom .item-right{
	padding-left: 0;
}




/*--------------
[8. Services]
*/
.services2{
	/*margin-top: 30px;*/
	border-top: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	overflow: hidden;
}
.services2 .services2-item{
	padding: 0;
	border-left: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 15px;
	min-height: 120px;
}
.services2 .services2-item .image{
	text-align: center;
	color: #333333;
	padding-left: 30px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: normal;
}
.services2 .services2-item .image h3{
	font-size: 14px;
	color: #333333;
	font-weight: 600;
	margin-top: 10px;
}
.services2 .services2-item .text{
	padding-top: 15px;
	color: #919191;
	padding-left: 0;
	padding-right: 30px;

}


/*--------------
[9. Footer]
*/
.option6 #footer{
	margin-top: 60px;
}
.option6 #mail-box .btn{
	background: #F3B70B;
}

.option6 .scroll_top:hover{
	background: #F3B70B;
}


/*-----------------
[10. Owl carousel vertical]
*/
.owl-carousel-vertical .owl-next,
.owl-carousel-vertical .owl-prev{
	position: inherit;
	width: 100%!important;
	height: 17px;
	margin: 0 auto;
	float: left;
	opacity: 1;
	visibility: inherit;
	background: none;

}
.owl-carousel-vertical .owl-controls .owl-nav{
	margin: 0 auto;
	text-align: center;
	display: table-cell;
	width: 100%!important;
	float: left;
}

.option6 .product-featured .owl-carousel-vertical .owl-controls .owl-nav{
	margin-top: 26px;
	padding-left: 30px;
}
.option6 .product-featured .owl-carousel-vertical .owl-controls .owl-nav .owl-next,
.option6 .product-featured .owl-carousel-vertical .owl-controls .owl-nav .owl-prev{
	background: none;
}

.option6 .blog-list .blog-list-wapper ul li .readmore a{
	color: #F3B70B;
}
.event-info{
    position: absolute;
    background-color: rgba(59,172,255,.8);
    bottom: 16px;
    left: 4%;
    color: white;
    width: 357px;
    padding: 15px 0;
    text-align: center;
}
.main-title{
    display: block;
    font-size: 21px;
    font-weight: 700;
    color: #fff;
    line-height: 26px;
    max-height: 52px;
    overflow: hidden;
    text-transform: uppercase;
    margin: 0 20px;
}
.sub-title{
    padding-top: 10px;
    margin: 10px 20px 0 20px;
    font-size: 13px;
    line-height: 18px;
    max-height: 46px;
    overflow: hidden;
    border-top: 1px solid rgba(255,255,255,.3);
}
.option6 .homeslider{
	position: relative;
}
.option6 .bx-control{
	position: absolute;
	bottom: 25px;
	right: 15px;
}
.option6 .bx-control .fa{
	line-height: inherit;
}
.option6 .bx-control a{
	width: 24px;
	height: 24px;
	background-color: rgba(190,190,190, 0.7);
	float: left;
	text-align: center;
	line-height: 24px;
	color: #000;
	margin-right: 10px;
}
.option6 .bx-control .bx-prev,
.option6 .bx-control .bx-next{
	color: #fff;
	font-weight: bold;
}
.option6 .bx-control .bx-prev:hover,
.option6 .bx-control .bx-next:hover{
	background: #008a90;
}
.option6 .bx-control a:hover,
.option6 .bx-control a.active{
	background-color: rgba(0,0,0, 0.7); 
	color: #fff;
}
.option6 .bx-control .slide-prev,
.option6 .bx-control .slide-next,
.option6 .bx-control .slide-pager{
	width: auto;
	display: inline-block;
	float: left;
}
/** REPONSIVE **/
/*----------------
[11. Styles for devices(>1200px)]
*/
@media (min-width: 1201px){
	
}
/*----------------
[12. Styles for devices(>=993px and <=1200px)]
*/
@media (min-width: 993px) and (max-width: 1200px) {
	.option6 .group-button-header{
		width: 25%;
		float: right;
	}
	.option6 .sub-category-wapper{
		width: 15%;
		display: none;
	}
	.option6 .col-right-tab{
		width: 100%;

	}
	.option6 .product-featured .manufacture-list .manufacture-waper{
		display: none;
	}
	.option6 .product-featured .product-featured-tab-content .category-list-product{
		padding-left: 15px;
	}
	.option6 .product-featured .product-featured-tab-content .category-list-product .product-list{
		border-left: 1px solid #eaeaea;
	}
	.option6 .main-header .header-search-box{
		width: 40%;
	}
	.option6 #home-slider .header-top-right .homeslider, 
	.option6 #home-slider .header-top-right .header-banner{
		border: none;
	}
	.option6 .main-header .header-search-box .keyword{
		display: none;
	}
	.option6 .header-top-right .homeslider{
		width: 100%;
	}
	.option6 .group-banner-slide{
		display: none;
	}
}
/*--------------------
[13. Styles for devices(>=768px and <=992px)]
*/
@media (min-width: 768px) and (max-width: 992px) {
	.option6 .group-button-header{
		float: right;
	}
	.option6 .main-header .logo{
		margin-top: 15px;
	}
	.option6 .nav-menu .nav>li>a{
		padding: 14px 10px;
		margin-left: 0;
	}
	.option6 .product-featured .product-featured-tab-content .box-left{
		width: 100%;
	}
	.option6 .product-featured .product-featured-tab-content .box-right{
		width: 100%;
		border-left: 1px solid #eaeaea;
	}
	.option6 .sub-category-wapper{
		width: 20%;
	}
	.option6 .col-right-tab{
		width: 80%;
	}
	.option6 .show-brand .navbar-brand{
		width: 21%;
		padding-right: 30px;
		font-size: 14px;
		font-weight: bold;
	}
	.option6 .product-featured .sub-category-list{
		padding: 10px;
	}
	.option6 .product-featured .box-left .banner-img{
		display: none;
	}
	.option6 .product-featured .manufacture-list .manufacture-waper{
		display: none;
	}
	.option6 .product-featured .product-featured-tab-content .box-full .product-list li{
		width: 33.3333%;
	}
	.option6 .product-featured .product-featured-tab-content .category-list-product{
		padding-left: 15px;
	}
	.option6 .product-featured .product-featured-tab-content .category-list-product .product-list{
		border-left: 1px solid #eaeaea;
	}
	.option6 .product-featured .product-featured-tab-content .category-list-product .product-list li{
		width: 33.3333%;
	}
	.option6 .group-banner-slide{
		display: none;
	}
	.option6 .header-top-right .homeslider{
		width: 100%;
	}
	.option6 .main-header .header-search-box .keyword{
		display: none;
	}
	
}
/*--------------------
[14. Styles for devices(>=481px and <=767px)]
*/
@media (min-width: 481px) and (max-width: 767px) { 
	.group-button-header{
		margin-top: 30px;
	}
	.option6 .logo{
		margin-top: 0px;
	}
	.main-header .group-button-header .btn-cart:hover .cart-block {
		display: none;
	}
	.option6 .main-header .header-search-box{
		padding-right: 15px;
	}
	.option6 #main-menu .navbar{
		background: none;
	}
	.option6 #main-menu .navbar-header{
		background: #F3B70B;
	}
	.option6 #main-menu .navbar-default .navbar-nav>li>a{
		background: none;
		color: #999;
	}
        .option6 .main-header .header-search-box {
            padding: 0px 15px;
            
        }
        .main-header .header-search-box {
             margin-top: 0px; 
           
        }
        .logo1 img {
            padding-top: 0px;
        }
	.option6 #main-menu li.dropdown>a:after {
	  position: absolute;
	  left: inherit;
	  right: 10px;
	  -ms-transform: translateY(-50%);
	  -webkit-transform: translateY(-50%);
	  transform: translateY(-50%);
	  top: 50%;
	  font-size: 12px;
	}
	.option6 #main-menu .navbar .navbar-nav>li:hover,
	.option6 #main-menu .navbar .navbar-nav>li.active{
		background: none;
	}
	.latest-deals-product .count-down-time2{
		position: inherit;
		top: inherit;
		right: inherit;
	}
	.latest-deals-product .owl-prev {
	  top: 50%;
	  left: 0;
	  right: inherit;
	}
	.latest-deals-product .owl-next {
	  top: 50%;
	}
	.option6 .content-page{
		margin-top: 30px;
	}
	.option6 .nav-menu{
		background: #ccc;
	}
	.option6 .nav-menu .nav>li>a{
		margin-left: 0;
		padding: 5px 15px;
	}
	
	.option6 .nav-menu .nav>li>a:after{
		display: none;
	}
	.option6 .product-featured .sub-category-wapper{
		width: 100%;
		padding: 15px;
		display: none;
	}
	.option6 .product-featured .product-featured-tab-content .box-left{
		width: 100%;
		display: none;
	}
	.option6 .product-featured .product-featured-tab-content .box-right{
		width: 100%;
		border-left: 1px solid #eaeaea;
	}
	.option6 .product-featured .deal-product .deal-product-content .deal-product-info{
		padding-left: 15px;
	}
	.option6 .product-featured .product-featured-tab-content .box-full .product-list li{
		width: 50%;
		float: left;
	}
	.services2 .services2-item .image{
		padding: 15px 30px 0 30px 0;
	}
	.services2 .services2-item .text{
		padding: 15px 30px;
		text-align: center;
	}
	.option6 .product-featured .manufacture-list{
		display: none;
	}
	.option6 .product-featured .product-list li{
		width: 50%;
		float: left;
	}
	.option6 .product-featured .product-featured-tab-content .category-list-product{
		padding-left: 15px;
		border-left: 1px solid #eaeaea;
	}
	.option6 #main-menu{
		padding: 0;
	}
	.option6 #main-menu .navbar-header{
		margin: 0;
	}
	.option6 #box-vertical-megamenus{
		display: none;
	}
	.option6 #main-menu .navbar-collapse{
		margin-left: 0;
	}
	.option6 .main-header .header-search-box .keyword{
		display: none;
	}
	.option6 .main-header .header-search-box .form-inline{
		width: 100%;
		min-width: 100%;
	}
	.option6 .group-banner-slide{
		display: none;
	}
	.option6 .header-top-right .homeslider{
		width: 100%;
	}
}
/*--------------------
[15. Styles for devices(<=480px)]
*/
@media (max-width: 480px) {
	.group-button-header{
		width: 100%;
		margin-top: 30px;
	}
	.option6 .logo{
		width: 100%;
		margin-top: 15px;
	}

	.main-header .group-button-header .btn-cart:hover .cart-block {
		display: none;
	}
	.option6 .main-header .header-search-box{
		padding-right: 15px;
	}
	.option6 #main-menu .navbar{
		background: none;
	}
	.option6 #main-menu .navbar-header{
		background: #F3B70B;
	}
	.option6 #main-menu .navbar-default .navbar-nav>li>a{
		background: none;
		color: #999;
	}
	.option6 #main-menu li.dropdown>a:after {
	  position: absolute;
	  left: inherit;
	  right: 10px;
	  -ms-transform: translateY(-50%);
	  -webkit-transform: translateY(-50%);
	  transform: translateY(-50%);
	  top: 50%;
	  font-size: 12px;
	}
	.option6 #main-menu .navbar .navbar-nav>li:hover,
	.option6 #main-menu .navbar .navbar-nav>li.active{
		background: none;
	}
	.latest-deals-product .count-down-time2{
		position: inherit;
		top: inherit;
		right: inherit;
	}
	.latest-deals-product .owl-prev {
	  top: 50%;
	  left: 0;
	  right: inherit;
	}
	.latest-deals-product .owl-next {
	  top: 50%;
	}
	.option6 .content-page{
		margin-top: 30px;
	}
	.option6 .nav-menu{
		background: #ccc;
	}
	.option6 .nav-menu .nav>li>a{
		margin-left: 0;
		padding: 5px 15px;
	}
	
	.option6 .nav-menu .nav>li>a:after{
		display: none;
	}

	.option6 .product-featured .sub-category-wapper{
		display: none;
	}
	.option6 .product-featured .product-featured-tab-content .box-left{
		width: 100%;
		display: none;
	}
	.option6 .product-featured .product-featured-tab-content .box-right{
		width: 100%;
	}
	.option6 .product-featured .deal-product .deal-product-content .deal-product-info{
		padding-left: 15px;
	}
	.option6 .product-featured .product-featured-tab-content .box-full .product-list li{
		width: 100%;
	}
	.services2 .services2-item .image{
		padding: 15px 30px 0 30px 0;
	}
	.services2 .services2-item .text{
		padding: 15px 30px;
		text-align: center;
	}
	.option6 .product-featured .manufacture-list{
		display: none;
	}
	.option6 .product-featured .product-list li{
		border-right: none;
	}
	.option6 .product-featured .product-featured-tab-content .category-list-product{
		padding-left: 15px;
		border-left: 1px solid #eaeaea;
	}
	.option6 #main-menu{
		padding: 0;
	}
	.option6 #main-menu .navbar-header{
		margin: 0;
	}
	.option6 #box-vertical-megamenus{
		display: none;
	}
	.option6 #main-menu .navbar-collapse{
		margin-left: 0;
	}
	.option6 .main-header .header-search-box .keyword{
		display: none;
	}
	.option6 .main-header .header-search-box .form-inline{
		width: 100%;
		min-width: 100%;
	}
	.option6 .group-banner-slide{
		display: none;
	}
	.option6 .header-top-right .homeslider{
		width: 100%;
	}

}

h3.footer_main_title {
    border-bottom: 1px solid #595959;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 20px;
    text-transform: uppercase;
}
.menulist {
    
}
.menulist ul {
    padding-left: 15px;
    overflow: hidden;
}
.menulist ul li {
    color: #C9212A;
    list-style: square;
}
.menulist ul li a {
    color: #adadad;
    font-size: 13px;
    line-height: 25px;
}
.menulist ul li a:hover,
.menulist ul li a:focus {
    color: #fff;
    text-decoration: underline;
}

.connection {
    
}
.connection ul {
    display: block;
    margin: 10px 0;
    overflow: hidden;
    padding-left: 0;
}
.connection ul li {
    float: left;
    height: 34px;
    margin-right: 15px;
    width: 35px;
    list-style: none;
}
.connection ul li a {
    background-image: url("../../images/element.png");
    background-repeat: no-repeat;
    float: left;
    height: 34px;
    width: 35px;
}
.connection ul li .facebook {
    background-position: -188px -408px;
}
.connection ul li .youtube {
    background-position: -188px -623px;
}
.connection ul li .twt {
    background-position: -188px -479px;
}
.connection ul li .wpress {
    background-position: -188px -550px;
}
.connection ul li .google {
    background-position: -188px -336px;
}
.connection h3 {
    float: left;
    width: 107px;
}
.connection h3 a.qrcode {
    background-image: url("../../images/element.png");
    background-position: -188px -1081px;
    background-repeat: no-repeat;
    float: left;
    height: 78px;
    width: 99px;
    margin-top: 20px;
}
.connection p {
    float: left;
    margin-top: 20px;
    padding-left: 10px;
    width: 130px;
}
.connection p a {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.connection p a.appstore {
    background-image: url("../../images/element.png");
    background-position: -188px -850px;
    background-repeat: no-repeat;
    height: 35px;
}
.connection p a.googleplay {
    background-image: url("../../images/element.png");
    background-position: -188px -942px;
    background-repeat: no-repeat;
    height: 35px;
}
.footer_bar {
    background: #128995 none repeat scroll 0 0;
    color: #fff;
    margin-top: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}
.footer_main {
    background: #222222 none repeat scroll 0 0;
    padding-bottom: 20px;
    padding-top: 20px;
}
footer {
    background-color: #ebebed;
    color: #313131;
}
.footer {
    
}
.footer a {
    color: #313131;
}
.footer_contact {
    font-size: 13px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}
.footer_contact p {
    margin-bottom: 0;
}
.discount{
    font-weight: bold;
    font-size: 17px;
    color: #FF1212;
}
.field-sale-1{
    font-size: 11px;
    color: #949494;
}
/* email letter */
.email_letter{
    background-color: #FFF;
    width: 197px;
    border: 1px solid rgb(0, 0, 0);
    padding: 6px;
}