.header_tbl{
    margin-bottom: -2px !important;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
}
.lobipanel .panel-heading a:hover{
    background-color: #00a8ff !important;
    border-color: #00a8ff !important;
}
.btn.btn-primary {
    background-color: #00a8ff !important;
    border-color: #00a8ff !important;
}
.modal_bt h3.main_header{
    background-color: #00badb;
    color: #fff;
    font-size: 16px;
    padding: 8px;
    text-transform: uppercase;
    padding-left: 25px;
}
.list_hsbt_bs li{
    margin-bottom: 10px;
}
.list_box_gt li{
    margin-bottom: 20px;
}
.thead1 th{
    text-transform: uppercase;
}
.statistic-box .number{
    font-size: 2.125rem !important;
}
.video_db{
    height: 313px;
}

/*============================================================================*/
.msg_errors p{
    float: left;
    width: 50%;
    color: #ff0000;
}
/*============================================================================*/
/*Common css*/

.fw{
    width: 100% !important;
}
.mw{
    max-width: 100%;
}
.w130{
    width: 130px !important;
}
.w100{
    width: 100px !important;
}
.m0{
    margin: 0px !important;
}
.m5{
    margin: 5px !important;
}
.mt0{
    margin-top: 0px !important;
}
.mt5{
    margin-top: 5px !important;
}
.mt10{
    margin-top: 10px !important;
}
.mt15{
    margin-top: 15px !important;
}
.mt20{
    margin-top: 20px !important;
}
.mb0{
    margin-bottom: 0px !important;
}
.mb5{
    margin-bottom: 5px !important;
}
.mb10{
    margin-bottom: 10px !important;
}
.mb15{
    margin-bottom: 15px !important;
}
.mb20{
    margin-bottom: 20px !important;
}
.ml0{
    margin-left: 0px !important;
}
.ml5{
    margin-left: 5px !important;
}
.ml10{
    margin-left: 10px !important;
}
.ml15{
    margin-left: 15px !important;
}
.ml20{
    margin-left: 20px !important;
}
.ml_5{
    margin-left: -5px !important;
}
.ml_10{
    margin-left: -10px !important;
}
.ml_15{
    margin-left: -15px !important;
}
.ml_20{
    margin-left: -20px !important;
}
.mr0{
    margin-right: 0px !important;
}
.mr5{
    margin-right: 5px !important;
}
.mr10{
    margin-right: 10px !important;
}
.mr15{
    margin-right: 15px !important;
}
.mr20{
    margin-right: 20px !important;
}
.pr0{
    padding-right: 0px !important;
}
.pr5{
    padding-right: 5px !important;
}
.pr10{
    padding-right: 10px !important;
}
.pr15{
    padding-right: 15px !important;
}
.pr20{
    padding-right: 20px !important;
}
.pl0{
    padding-left: 0px !important;
}
.pl5{
    padding-left: 5px !important;
}
.pl10{
    padding-left: 10px !important;
}
.pl15{
    padding-left: 15px !important;
}
.pl20{
    padding-left: 20px !important;
}
.pb0{
    padding-bottom: 0px !important;
}
.pb5{
    padding-bottom: 5px !important;
}
.pb10{
    padding-bottom: 10px !important;
}
.pb15{
    padding-bottom: 15px !important;
}
.pb20{
    padding-bottom: 20px !important;
}
.pt0{
    padding-top: 0px !important;
}
.pt5{
    padding-top: 5px !important;
}
.pt10{
    padding-top: 10px !important;
}
.pt15{
    padding-top: 15px !important;
}
.pt20{
    padding-top: 20px !important;
}
.ml-25{
    margin-left: -25px !important;
}
.pd6_12{
    padding: 6px 12px !important;
}
.fl{
    float: left !important;
}
.fr{
    float: right !important;
}
.tl{
    text-align: left !important;
}
.fs18{
    font-size: 18px !important;
}
.fs16{
    font-size: 16px !important;
}